<table>
<thead>
<th>Taxon</th>
<th>Actions</th>
</thead>
<tbody>
<tr>
<% if @taxons %>
	<% @taxons.each do |taxon| %>
	
	<td><%= taxon.name %></td>
	<td><%= link_to "Active Sale Event", "/admin/taxons_active_sale/#{taxon.id}" ,:id=>"active_sale", :remote => true %> |
		<%= link_to "Products", "/admin/taxons_products/#{taxon.id}" ,:id=>"products", :remote => true %>
	</td>
	
	<% end %>
<% end %>
</tr>
</tbody>
</table>